In [72]:
import pandas as pd
import numpy as np

In [73]:
data = pd.read_csv('/home/client/Documents/shield-it/DBManagementRestAPI/data/filtered_years_to_from.csv')

# Removing email content from first column
data = data.drop(columns=['Unnamed: 0', 'file', 'message_id', 'X-Folder', 'X-To'])


data["date"] = data["date"].astype("datetime64")
#data["hour"]=data["date"].dt.hour

/home/client/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [74]:
data = data.rename(columns={'X-From': 'from_name','to_email':'to_recipients','cc':'cc_recipients','bcc':'bcc_recipients','date':'sent_datetime'})
# We can randomize the following fields
data['has_attachments'] = False
data['is_draft'] = False
data['is_read'] = True
data['received_datetime'] = data['sent_datetime'] + pd.DateOffset(hours=3)

In [75]:
data

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,has_attachments,is_draft,is_read,received_datetime
0,1979-12-31 16:00:00,steven.kean@enron.com,NaN,Attached are FERC reports\n\n\n,NaN,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1979-12-31 19:00:00
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1979-12-31 19:00:00
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",NaN,Andrew H Lewis,NaN,NaN,False,alewis.nsf,False,False,True,1979-12-31 19:00:00
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,NaN,NaN,False,skean.nsf,False,False,True,1979-12-31 19:00:00
4,1979-12-31 16:00:00,john.griffith@enron.com,NaN,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,NaN,NaN,False,jgriffit.nsf,False,False,True,1979-12-31 19:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513224,2024-05-26 03:49:00,pse6yl706@aloha.net,NaN,<html>\n<head>\n<title>Untitled Document</titl...,(None),PSE6Yl706@aloha.net@ENRON <IMCEANOTES-PSE6Yl70...,NaN,NaN,False,"Williams, Jason (Trading).pst",False,False,True,2024-05-26 06:49:00
513225,2043-12-28 11:34:00,cramer@cadvision.com,"linsider.jed@enron.com, john.zufferli@enron.co...",\nHappy New Year !\n - marks.xls,marks.xls,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2043-12-28 14:34:00
513226,2044-01-02 15:46:00,cramer@cadvision.com,john.zufferli@enron.com,\nfeb dec trades 37.5 \nfeb dec LL went out 20...,trades jan 2002,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-02 18:46:00
513227,2044-01-04 08:59:00,cramer@cadvision.com,john.zufferli@enron.com,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",Trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 11:59:00
513228,2044-01-04 14:48:00,cramer@cadvision.com,john.zufferli@enron.com,"\nHowdy, \nbom went out 35 at 35.5 \nFeb trade...",trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",NaN,NaN,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 17:48:00

In [76]:
df = data[~data.subject.isnull()]
ind = df[df['subject'].str.contains(r"Re: ")].index

In [77]:
data['is_reply'] =False
data['is_reply'][ind] = True

/tmp/ipykernel_5190/997832866.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['is_reply'][ind] = True

In [78]:
data['reply_to']=''
data['reply_to'][ind] = data['to_recipients'][ind]
data = data.fillna('')
data

/tmp/ipykernel_5190/799362107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reply_to'][ind] = data['to_recipients'][ind]

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,has_attachments,is_draft,is_read,received_datetime,is_reply,reply_to
0,1979-12-31 16:00:00,steven.kean@enron.com,,Attached are FERC reports\n\n\n,,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,False,
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,True,wade.cline@enron.com
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",,Andrew H Lewis,,,False,alewis.nsf,False,False,True,1979-12-31 19:00:00,False,
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,True,mary.clark@enron.com
4,1979-12-31 16:00:00,john.griffith@enron.com,,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,,,False,jgriffit.nsf,False,False,True,1979-12-31 19:00:00,False,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513224,2024-05-26 03:49:00,pse6yl706@aloha.net,,<html>\n<head>\n<title>Untitled Document</titl...,(None),PSE6Yl706@aloha.net@ENRON <IMCEANOTES-PSE6Yl70...,,,False,"Williams, Jason (Trading).pst",False,False,True,2024-05-26 06:49:00,False,
513225,2043-12-28 11:34:00,cramer@cadvision.com,"linsider.jed@enron.com, john.zufferli@enron.co...",\nHappy New Year !\n - marks.xls,marks.xls,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2043-12-28 14:34:00,False,
513226,2044-01-02 15:46:00,cramer@cadvision.com,john.zufferli@enron.com,\nfeb dec trades 37.5 \nfeb dec LL went out 20...,trades jan 2002,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-02 18:46:00,False,
513227,2044-01-04 08:59:00,cramer@cadvision.com,john.zufferli@enron.com,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",Trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 11:59:00,False,
513228,2044-01-04 14:48:00,cramer@cadvision.com,john.zufferli@enron.com,"\nHowdy, \nbom went out 35 at 35.5 \nFeb trade...",trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 17:48:00,False,

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513229 entries, 0 to 513228
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   sent_datetime      513229 non-null  datetime64[ns]
 1   from_email         513229 non-null  object
 2   to_recipients      513229 non-null  object
 3   body               513229 non-null  object
 4   subject            513229 non-null  object
 5   from_name          513229 non-null  object
 6   cc_recipients      513229 non-null  object
 7   bcc_recipients     513229 non-null  object
 8   if_forwarded       513229 non-null  bool
 9   employee           513229 non-null  object
 10  has_attachments    513229 non-null  bool
 11  is_draft           513229 non-null  bool
 12  is_read            513229 non-null  bool
 13  received_datetime  513229 non-null  datetime64[ns]
 14  is_reply           513229 non-null  bool
 15  reply_to           513229 non-null  object
dtypes: bool(5), datetime64[ns](2), object(9)
memory usage: 45.5+ MB

In [80]:
print(data.columns)

Index(['sent_datetime', 'from_email', 'to_recipients', 'body', 'subject',
       'from_name', 'cc_recipients', 'bcc_recipients', 'if_forwarded',
       'employee', 'has_attachments', 'is_draft', 'is_read',
       'received_datetime', 'is_reply', 'reply_to'],
      dtype='object')

## Generate Employees if possible

In [81]:
print(len(data['from_name'].unique()))
print(len(data['employee'].unique()))
print(len(data['from_email'].unique()))

27782
428
20182

In [82]:
names = data['from_name'].unique()
dictio_name = {}
i = 0
for e in names:
    addr = data[data['from_name']==e]['from_email'].unique()
    if '<' in addr[0]:
        dictio_name[e]=addr[0][:addr[0].index('<')]
    else:
        dictio_name[e]=addr[0]   
    i+=1
    if i == 998: break

In [83]:
first_names = []
last_names = []
emails = []
for k,v in dictio_name.items():
    first_names.append(k.split()[0])
    last_names.append(k.split()[-1])
    emails.append(v)

In [84]:
employee_df = pd.DataFrame({'first_name':first_names,'last_name':last_names,'email_address':emails})
employee_df

    first_name                   last_name             email_address
0       Steven                        Kean     steven.kean@enron.com
1       Andrew                       Lewis    andrew.lewis@enron.com
2         John                    Griffith   john.griffith@enron.com
3         Tori                       Wells      tori.wells@enron.com
4         John                      Arnold     john.arnold@enron.com
..         ...                         ...                       ...
993      David                        Mims      david.mims@enron.com
994     "Brian  <brianp@aiglincoln.com.pl>  brianp@aiglincoln.com.pl
995      Heidi                     Withers   heidi.withers@enron.com
996        Dan                    Connally    dan.connally@enron.com
997      Sarah                      Palmer    sarah.palmer@enron.com

[998 rows x 3 columns]

In [85]:
import random

In [86]:
np.random.seed(42)  
total_rows= len(employee_df)

In [87]:
# Generate fake
employee_df["age"] = pd.Categorical(np.random.randint(15,70, total_rows))
employee_df["gender"] = [random.choice(['M','F']) for i in range(total_rows)]
employee_df["job_title"] = [random.choice(['developer','manager','ceo']) for i in range(total_rows)]
employee_df["office_location"]= 'seattle'
employee_df["mobile_phone"] = '0554646316'
employee_df["date_of_bith"] = pd.date_range("1995-01-01", periods=total_rows, freq="D")
employee_df["employment_date"] = pd.date_range("2018-01-01", periods=total_rows, freq="D")

employee_df["team"] = [random.choice(['a1','a2','a3']) for i in range(total_rows)]
employee_df["project"]= [random.choice(['A','B','C']) for i in range(total_rows)]
employee_df["department"]=[random.choice(['AAA','BBB','CCC']) for i in range(total_rows)]
employee_df["organization"]= [random.choice(['3pleA','3pleB','3pleC']) for i in range(total_rows)]
employee_df["martial_status"] = [random.choice(['single','married']) for i in range(total_rows)]

employee_df["address"] = 'anywhere'
employee_df["location"]= 'somewhere'
employee_df["latitude"] =  np.random.uniform(33.33, 88.66,total_rows)
employee_df["longitude"] =  np.random.uniform(80.00,120.66,total_rows)
employee_df["hierarchical_superior"] = np.random.randint(1,total_rows, total_rows)

In [88]:
employee_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,team,project,department,organization,martial_status,address,location,latitude,longitude,hierarchical_superior
0,Steven,Kean,steven.kean@enron.com,53,F,manager,seattle,0554646316,1995-01-01,2018-01-01,a3,A,BBB,3pleA,married,anywhere,somewhere,70.265970,109.451616,22
1,Andrew,Lewis,andrew.lewis@enron.com,66,M,manager,seattle,0554646316,1995-01-02,2018-01-02,a3,B,BBB,3pleA,married,anywhere,somewhere,42.864458,103.517212,30
2,John,Griffith,john.griffith@enron.com,43,F,manager,seattle,0554646316,1995-01-03,2018-01-03,a2,C,BBB,3pleB,single,anywhere,somewhere,43.969351,91.147373,703
3,Tori,Wells,tori.wells@enron.com,29,F,ceo,seattle,0554646316,1995-01-04,2018-01-04,a1,A,AAA,3pleC,single,anywhere,somewhere,35.591261,83.229192,260
4,John,Arnold,john.arnold@enron.com,57,F,ceo,seattle,0554646316,1995-01-05,2018-01-05,a3,B,AAA,3pleA,married,anywhere,somewhere,42.677177,83.482864,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,F,ceo,seattle,0554646316,1997-09-20,2020-09-20,a3,C,AAA,3pleB,married,anywhere,somewhere,73.034684,107.755216,657
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,developer,seattle,0554646316,1997-09-21,2020-09-21,a1,C,CCC,3pleB,single,anywhere,somewhere,71.642492,89.836942,842
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,a3,A,BBB,3pleC,married,anywhere,somewhere,88.176194,109.029314,370
996,Dan,Connally,dan.connally@enron.com,17,M,manager,seattle,0554646316,1997-09-23,2020-09-23,a1,A,BBB,3pleA,single,anywhere,somewhere,40.434056,113.444265,795
997,Sarah,Palmer,sarah.palmer@enron.com,41,M,developer,seattle,0554646316,1997-09-24,2020-09-24,a2,B,BBB,3pleC,single,anywhere,somewhere,39.090387,112.688953,54

## Dump DataFrame to mangoDb

In [89]:
from pymongo import MongoClient

In [90]:
client = MongoClient('mongodb://localhost:27017')
db = client['shield_db']
collection_email = db['management_email']
collection_user = db['management_userprofile']

In [97]:
data['sent_datetime'] = data['sent_datetime'].astype(str)
data['received_datetime'] = data['received_datetime'].astype(str)
data['id'] = range(len(data))

In [91]:
employee_df['date_of_bith'] = employee_df['date_of_bith'].astype(str)
employee_df['employment_date'] = employee_df['employment_date'].astype(str)
employee_df['id'] = range(total_rows)

In [98]:
data

,sent_datetime,from_email,to_recipients,body,subject,from_name,cc_recipients,bcc_recipients,if_forwarded,employee,has_attachments,is_draft,is_read,received_datetime,is_reply,reply_to,id
0,1979-12-31 16:00:00,steven.kean@enron.com,,Attached are FERC reports\n\n\n,,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,False,,0
1,1979-12-31 16:00:00,steven.kean@enron.com,wade.cline@enron.com,Thanks for your message. I do think we need to...,Re: Job Titles and Job Banding,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,True,wade.cline@enron.com,1
2,1979-12-31 16:00:00,andrew.lewis@enron.com,cindy.olson@enron.com,"Cindy,\n\nSeveral of the traders on the Centra...",,Andrew H Lewis,,,False,alewis.nsf,False,False,True,1979-12-31 19:00:00,False,,2
3,1979-12-31 16:00:00,steven.kean@enron.com,mary.clark@enron.com,Currently an announcement is scheduled for mid...,Re: Annual Meeting Q&A,Steven J Kean,,,False,skean.nsf,False,False,True,1979-12-31 19:00:00,True,mary.clark@enron.com,3
4,1979-12-31 16:00:00,john.griffith@enron.com,,To register your Palm Computingc organizer ele...,Don't forget to register!,John Griffith,,,False,jgriffit.nsf,False,False,True,1979-12-31 19:00:00,False,,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513224,2024-05-26 03:49:00,pse6yl706@aloha.net,,<html>\n<head>\n<title>Untitled Document</titl...,(None),PSE6Yl706@aloha.net@ENRON <IMCEANOTES-PSE6Yl70...,,,False,"Williams, Jason (Trading).pst",False,False,True,2024-05-26 06:49:00,False,,513224
513225,2043-12-28 11:34:00,cramer@cadvision.com,"linsider.jed@enron.com, john.zufferli@enron.co...",\nHappy New Year !\n - marks.xls,marks.xls,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2043-12-28 14:34:00,False,,513225
513226,2044-01-02 15:46:00,cramer@cadvision.com,john.zufferli@enron.com,\nfeb dec trades 37.5 \nfeb dec LL went out 20...,trades jan 2002,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-02 18:46:00,False,,513226
513227,2044-01-04 08:59:00,cramer@cadvision.com,john.zufferli@enron.com,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",Trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 11:59:00,False,,513227
513228,2044-01-04 14:48:00,cramer@cadvision.com,john.zufferli@enron.com,"\nHowdy, \nbom went out 35 at 35.5 \nFeb trade...",trades,"""Erik Cramer"" <cramer@cadvision.com>@ENRON",,,False,john zufferli 6-26-02.PST,False,False,True,2044-01-04 17:48:00,False,,513228

In [92]:
employee_df

,first_name,last_name,email_address,age,gender,job_title,office_location,mobile_phone,date_of_bith,employment_date,...,project,department,organization,martial_status,address,location,latitude,longitude,hierarchical_superior,id
0,Steven,Kean,steven.kean@enron.com,53,F,manager,seattle,0554646316,1995-01-01,2018-01-01,...,A,BBB,3pleA,married,anywhere,somewhere,70.265970,109.451616,22,0
1,Andrew,Lewis,andrew.lewis@enron.com,66,M,manager,seattle,0554646316,1995-01-02,2018-01-02,...,B,BBB,3pleA,married,anywhere,somewhere,42.864458,103.517212,30,1
2,John,Griffith,john.griffith@enron.com,43,F,manager,seattle,0554646316,1995-01-03,2018-01-03,...,C,BBB,3pleB,single,anywhere,somewhere,43.969351,91.147373,703,2
3,Tori,Wells,tori.wells@enron.com,29,F,ceo,seattle,0554646316,1995-01-04,2018-01-04,...,A,AAA,3pleC,single,anywhere,somewhere,35.591261,83.229192,260,3
4,John,Arnold,john.arnold@enron.com,57,F,ceo,seattle,0554646316,1995-01-05,2018-01-05,...,B,AAA,3pleA,married,anywhere,somewhere,42.677177,83.482864,205,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,David,Mims,david.mims@enron.com,39,F,ceo,seattle,0554646316,1997-09-20,2020-09-20,...,C,AAA,3pleB,married,anywhere,somewhere,73.034684,107.755216,657,993
994,"""Brian",<brianp@aiglincoln.com.pl>,brianp@aiglincoln.com.pl,17,M,developer,seattle,0554646316,1997-09-21,2020-09-21,...,C,CCC,3pleB,single,anywhere,somewhere,71.642492,89.836942,842,994
995,Heidi,Withers,heidi.withers@enron.com,46,M,ceo,seattle,0554646316,1997-09-22,2020-09-22,...,A,BBB,3pleC,married,anywhere,somewhere,88.176194,109.029314,370,995
996,Dan,Connally,dan.connally@enron.com,17,M,manager,seattle,0554646316,1997-09-23,2020-09-23,...,A,BBB,3pleA,single,anywhere,somewhere,40.434056,113.444265,795,996
997,Sarah,Palmer,sarah.palmer@enron.com,41,M,developer,seattle,0554646316,1997-09-24,2020-09-24,...,B,BBB,3pleC,single,anywhere,somewhere,39.090387,112.688953,54,997

In [20]:
# data.reset_index(inplace=True)
# employee_df.reset_index(inplace=True)

In [99]:
dat = data.to_dict("records")

In [100]:
data.to_csv('/home/client/Documents/shield-it/DBManagementRestAPI/data/ENRON_emails.csv', index=False)
employee_df.to_csv('/home/client/Documents/shield-it/DBManagementRestAPI/data/ENRON_employees.csv', index=False)

In [94]:
emp = employee_df.to_dict("records")

In [96]:
collection_user.insert_many(emp)

In [101]:
collection_email.insert_many(dat)